@charset "utf-8";
/* headerここから */
.headder{
  margin-left: 70px;
  margin-right: 70px;
  align-items: center;
}
.header_logo_img{
  width: 120px;
  height: 40px;
  display: flex;
  text-align: left;
  display: flex;
  margin-left: 100px;
}

ul{
  text-align: right;
  text-decoration: none;
}
li{
  display: inline;
  justify-content: space-between;
  list-style: none;
  margin-left: 10px;
  margin-right: 30px;
  padding-bottom: 20px;
}
/* headerここまで */
/* mainここから */
/* firstview始まり */
.firstview{
  position: relative;
  margin-top: 50px;
  margin-left:800px;
  margin-right: 50px;
}

.firstview_img { 
  margin: 0 0 0 auto;
  display: block;
  width: 70%;
}

.firstview_heading{ 
  position: absolute;
  font-size: 50%;
  top: 10%;
  /* left: 20%; */
}

.firstview_content-ttl{
  /* font-family: 'Gorditas', cursive; */
  font-family: 'Macondo', cursive;
  font-family: 'Noto Serif JP', serif;
  font-size: 50px;
  padding-bottom: 30px;
}

p{
  color: #c71585;
}
span:first-child{
  color: #20B2AA;
}
.firstview_text{
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}

small{
  color:#A9A9A9 ;
  font-size: 15px;
  margin-bottom: 20px;
}
/* firstview終わり */
/* News 始まり*/
.news_content{
  display: inline-block;
  text-align: center;
  margin-left: 800px;
}

h2{
font-family: 'Grape Nuts', cursive; 
text-align: left;
color: #c71585;
}

h3{
  text-align: left;
  color: #a9a9a9;
  padding: 30px;
}

.info-list-content{
  border-bottom: 1px dotted #999;
}

dl{
  line-height: 50px;
  border-bottom: 1px dotted #999;
}

dt{
  padding-bottom: 5px;
  clear: left;
  float: left;
  width: 5%;
  color: #A9A9A9;
} 

dd{
  display: inline;
  margin-left: 5px;
}

dl>dd{
  color: #A9A9A9;
}
dd:first-of-type{
  width: 50px;
  height: 20px;
  background-color: #c71585;
  border-radius: 10px;
  color: antiquewhite;
  font-size: 15px;
}
/* NEWS終わり */
/* About始まり */
.flex_item3{
  background-color: #F5F5DC;
  width: 60%;
  margin: 0 auto;
  margin-top: 20px; 
}

.about_card{
  width: 70%;
  height: 30%; 
  margin: 60px auto;
}

.abuot_card_content{
  width: 50%;
}

.about_card_img{
  width: 30%;
}
  
.about_card_cat{
  margin: 0 auto;
  display: inline;
  width: 70%;
}

h4{
  text-align: center;
  font-family: 'Grape Nuts',cursive;
  padding-top: 20px;
  color: #c71585;
}

span:nth-of-type(2){
  display: inline;
  color: #A9A9A9;
  text-align: center; 
}

em{
  color: #999;
  line-height: 20px;
}
/* About終わり */
/* seavice始まり */
.service_first{
  display: block;
  width: 50%;  
  height: 30%;
  margin: 60px auto;
  background-color: #F5F5DC;
}

h5 {
  font-family: 'Grape Nuts', cursive;
  padding: 10px;
  color: #c71585;
}
h6{
  color: #A9A9A9;
  font: bold;
  text: size 10px;
}


