@charset "utf-8";

.headder{
  margin-left: 70px;
  margin-right: 70px;
  align-items: center;
}
  
.header_logo_img{
  width: 120px;
  height: 40px;
  display: flex;
  text-align: left;
  display: flex;
}

ul{
  text-align: right;
  text-decoration: none;
}
li{
  display: inline;
  justify-content: space-between;
  list-style: none;
  margin-left: 10px;
  margin-right: 30px;
  padding-bottom: 20px;
}


.firstview{
  position: relative;
  margin-top: 50px;
  margin-left:800px;
  margin-right: 50px;
}

.firstview_img {
  margin: 0 0 0 auto;
  display: block;
  width: 70%;
}
.firstview_heading{
  position: absolute;
  font-family: 'Gorditas', cursive;
  font-family: 'Grape Nuts', cursive;
  font-family: 'Macondo', cursive;
  font-family: 'Noto Serif JP', serif;
  top: 10%;
  left: 20%;
  font-size: 50%;
  padding-bottom: 50%;
}

.firstview_content-ttl{
  font-size: 50px;
  padding-bottom: 50px;
  
}





.firstview_text{
  
}